# Editor files
.*.sw[po]

# Backups
*~
*.bak
*.history
history.*

# Temporary files
fred
fred.*
*.tmp
src/python/fim.sh

# Derived development files
tags
*.fail
*.pyc

# root-level directories
/include/
/local/
/lib/
/share/
/vim/bundle
/vim/view

# from root-level directories
/ipython/profile_default/db/
/ipython/README
/ipython/profile_default/static/
/ipython/profile_default/security/

# work in progress
/bin/hubby.py
/bin/hubby.test
