# Editor files
.*.sw[po]

# Backups
*~
*.bak

# Temporary files
fred
fred.*
*.tmp
python/fim.sh

# Derived development files
tags
*.fail
*.pyc

# root-level directories
/bin
/include
/local/
/lib
/share
/vim/bundle
/local
