# Editor files
.*.sw[po]

# Backups
*~
*.bak
*.history
history.*

# Temporary files
fred
fred.*
*.tmp
src/python/fim.sh

# Derived development files
tags
*.fail
*.pyc

# root-level directories
/include/
/local/
/lib/
/share/
/vim/bundle

# from root-level directories
/ipython/profile_default/db/
